/* line 4, ../sass/styles.scss */
body {
  font-size: 14px;
  line-height: 18px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-image: url(../images/beach_day_bg.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* line 14, ../sass/styles.scss */
a {
  color: blue;
  text-decoration: none;
}
/* line 18, ../sass/styles.scss */
a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/styles.scss */
.page-title {
  display: block;
  height: 80px;
  margin: 20px 0 20px;
  background-image: url(../images/title.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
}

/* line 37, ../sass/styles.scss */
article {
  min-width: 960px;
  max-width: 960px;
  margin: 40px auto;
}

/* line 43, ../sass/styles.scss */
.box-container {
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  margin: 60px 0;
}

/* line 53, ../sass/styles.scss */
.box-wrapper {
  display: block;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 200px;
  left: -100px;
  -webkit-transition: left 1s, top 1s;
  -moz-transition: left 1s, top 1s;
  -o-transition: left 1s, top 1s;
  transition: left 1s, top 1s;
}

/* line 66, ../sass/styles.scss */
.box {
  padding: 10px;
}
/* line 69, ../sass/styles.scss */
.box h2 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}
/* line 76, ../sass/styles.scss */
.box .body {
  font-size: 12px;
  line-height: 18px;
}

/* line 83, ../sass/styles.scss */
.letter {
  display: none;
  font-size: 100px;
  line-height: 150px;
  font-family: Verdana, Arial, sans-serif;
}
/* line 92, ../sass/styles.scss */
#box-1 .letter {
  color: red;
}
/* line 92, ../sass/styles.scss */
#box-2 .letter {
  color: orange;
}
/* line 92, ../sass/styles.scss */
#box-3 .letter {
  color: yellow;
}
/* line 92, ../sass/styles.scss */
#box-4 .letter {
  color: green;
}
/* line 92, ../sass/styles.scss */
#box-5 .letter {
  color: blue;
}
/* line 92, ../sass/styles.scss */
#box-6 .letter {
  color: indigo;
}
/* line 92, ../sass/styles.scss */
#box-7 .letter {
  color: violet;
}
/* line 92, ../sass/styles.scss */
#box-8 .letter {
  color: pink;
}

/* line 98, ../sass/styles.scss */
h1 {
  display: block;
  margin: 30px 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
