
@import "base";

body {
	width: 960px;
	margin: 0px auto;

	@include box-shadow(0 0 20px #222);
}

article {
}

.box-container {
	position: relative;

	box-sizing: border-box;
	width: 100%;
	padding: 20px 10px;
	min-height: 900px;
	
}

.box {
	position: absolute;
	display: block;

	left: 50%;
	top: 50%;

	width: 200px;
	border: 1px solid gray;
}
